@using Practice.Client.Services.ClientManagers.Managers;
@using Practice.Foundation.Infrastructure.Types;
@model List<BaseItem>
@inject PostgresRepository _postgresRepository
@{
    ViewData["Title"] = "Home Page";
}
<button onclick="@_postgresRepository.UpsertRecord("customer")"></button>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Successfull
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.GetLanguageField("name")
                </td>
                <td>
                    @obj.GetLanguageField("Successfull")
                </td>
            </tr>
        }
    </tbody>
</table>
