@{
    ViewData["Title"] = "Privacy Policy";
}

<form method="post" enctype="multipart/form-data" asp-action="UploadExcel" asp-controller="Home">
    <input type="file" name="excelFile" />
    <button type="submit">Upload</button>
</form>

